/** Text specific styles */

.text-shadow-none {
  text-shadow: none;
}

.text-shadow-remove {
  @apply text-shadow-none;
}

.text-inherit {
  font: inherit;
}

/** Background specific colors */

.bg-none {
  background: none;
}

.bg-remove {
  @apply bg-none;
}

.bg-dark-opacity-10 {
  background: rgba(0, 0, 0, 0.1);
}

.bg-dark-opacity-20 {
  background: rgba(0, 0, 0, 0.2);
}

/** Border specific colors */

.border-remove {
  border: none;
}

.border-dark-opacity-10 {
  border-color: rgba(0, 0, 0, 0.2);
}

.border-dark-opacity-20 {
  border-color: rgba(0, 0, 0, 0.2);
}

.entry {
  @apply border-none;
  @apply px-4;
  @apply py-4;
}

.entry-transparent {
  @apply entry;
  @apply border-remove;
  @apply bg-none;
  @apply rounded-none;
}

.accounts {
  @apply px-4;
}
