// Common typography variables

$font-family-default: sans-serif !default;
$font-family-sans-serif: $font-family-default !default;
$font-family-monospace: monospace !default;
$font-family-base: var(--gtkui-font-sans-serif) !default;
$font-family-code: var(--gtkui-font-monospace) !default;
